.productBox {
    width: 17rem;
    height: 25rem;
    border-radius: 2px;
    background: var(--Primary-White, #FEFEFE);
    box-shadow: 0px 8px 24px -6px rgba(15, 34, 67, 0.16), 0px 1px 3px 0px rgba(15, 34, 67, 0.12), 0px 0px 1px 0px rgba(15, 34, 67, 0.16);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 0.3rem;
    padding: 1rem;
    cursor: pointer;
  

    .productImage {
        max-width: 100%;
        max-height: 100%;
    }

    .productText {
        text-align: start;

        h4 {
            color: #b3b1b1;
            font-size: 16px;
            width: fit-content;
            font-weight: 400;
            margin: 0;
        }
        p {
            font-size: 17px;
            text-align: start;
            overflow: hidden;
        }
    }
    .productBoxAction{
        display: flex;
        flex-direction: row;
        justify-content: space-between;

        .productPriceOffer{
            display: flex;
            flex-direction: column;
            .productPriceOld{
                margin: 0.2rem;
                color: #666666;
                text-decoration: line-through;
            }
        }
        .productPrice{
            color: #666666;
            font-size: 22px;
            font-weight: 500;
        }
        .productAction{
            display: flex;
            flex-direction: row;
            button{
                background: transparent;
                border: none;
                margin: 0.2rem;
                cursor: pointer;
            }
            button:hover{
                transform: scale(1.1);
            }
        }
    }
}