.dropdown {
    position: relative;
    cursor: pointer;
}

.dropdown>button {
    width: 20px;
    height: 60px;
    border: 0;
    font-family: inherit;
    font-size: 17px;
    background: transparent;
}

.dropdown>.content {
    position: absolute;
    z-index: 2;
    top: 0;
    left: 0;
    width: 100%;
    height: 60px;
    padding: 0 16px;
    display: flex;
    align-items: center;
    color: black;
    font-weight: 600;
}

.dropdown>.content::after {
    content: "";
    position: absolute;
    bottom: 6px;
    right: 10%;
    width: 80%;
    height: 1px;
    transform: scaleX(0);
    background: rgb(255 255 255 /30%);
    transition: 0.3s;
}


.dropdown>.menu {
    position: absolute;
    z-index: 1;
    top: -3px;
    left: 50%;
    display: grid;
    width: 100%;
    padding: 70px 0 6px;
    translate: -50% 0;
    visibility: hidden;
    opacity: 0;
    scale: 0.85;
    background: #C0E88F;
    transition: 0.3s;
    
}

.dropdown:hover>.menu {
    visibility: visible;
    opacity: 1;
    scale: 1;
  
}

.dropdown>.menu>a {
    display: flex;
    align-items: center;
    gap: 10px;
    color: grey;
    font-size: 14px;
    padding: 0 24px;
}

.dropdown>.menu>a:hover {
    background: rgb(0 0 0 /10%);
    color: white;
}