.headerContent{
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    padding: 0 5rem;
    height: 5rem;
    align-items: center;

}
.headerLogo{
    padding-top: 1rem;
}

.headerNav{
    padding: 0;
    ul{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding: 0;
        li{
            margin: 1rem;
        }
    }
}
.headerAction{
    width: 150px;
}