.allProducts-section {
    margin: 0 auto;
    padding-inline: 5rem;

    .box-products {
        display: flex;
        flex-direction: row;
        justify-content: center;
        flex-wrap: wrap;
    }
}