.advertisements-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 2rem;
    justify-items: center;
    align-items: center;
    padding: 2rem 5rem;
    width: 60%;
    margin: 0 auto;


    .card {
        width: 400px;
        height: 200px;
        border: 2px solid grey;
        border-radius: 15px;
        display: flex;
        align-items: center;
        .box-card{
            display: flex;
            flex-direction: row;
            align-items: center;
            padding: 1rem;
        }
        span{
            color: #86aa59;
            font-weight: 600;
        }
        p{
            padding-inline-start: 0.5rem;
        }

    }
}